<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>

     <link rel="stylesheet" href="styles/libs/swipe.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Open+Sans+Condensed:700|Roboto:300,300i,400" rel="stylesheet">


    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
   
  
   
      <nav class="navi">
        <div class="navi__cont">
            <img class="navi__cont__logo" src="images/logo.png" alt="logo">
            <ul class="navi__cont__options">
                <li class="navi__cont__options__item"><a href="/" class="navi__cont__options__item__activo">Home</a></li>
                <li class="navi__cont__options__item"><a >Tours</a></li>
               
                <li class="navi__cont__options__item"><a>Hoteles</a></li>
                <li class="navi__cont__options__item"><a href="/store">Destinos</a></li>
                <li class="navi__cont__options__item"><a>Ayuda</a></li>
            </ul>
            <form class="navi__cont__search">
                <img class="navi__cont__search__lupa" src="images/search.png" alt="logo" width="50">

                <input class="navi__cont__search__txt" type="text" name="" placeholder="">

            </form>
        </div>
        <div class="navi__cont-derecha">
            <ul class="navi__cont-derecha__options">
                <li class="navi__cont-derecha__options__item">
                    <img src="../images/perfil.png" alt="">
                    <button class="navi__cont-derecha__options__item__signin">Perfil</button>

                </li>
                <li class="navi__cont-derecha__options__item">

                    <button class="navi__cont-derecha__options__item__signup"><a href="/carrito" class="link-carrito" >Tus viajes:  <span class="carrito__num"></span></a></button>
                </li>
            </ul>
        </div>

    </nav>
    <section class="primera" data-src="/images/bg1.jpg" data-pos-x="left" data-parallax>
        <div class="primera__banner">
            <h1 class="primera__banner__titulo">EL MUNDO EN LA <br> PALMA DE TU MANO</h1>
            <button class="primera__banner__btn">Descubre Albatroz</button>
        </div>

 
    </section>

    <section class="introduccion">
          

           <div class="introduccion__texto">
                <img class="introduccion__texto__logo" src="images/logo.png" alt="logo">

                <h2 class="introduccion__texto__titulo">¿QUÉ ES ALBATROZ?</h2>
                <p class="introduccion__texto__txt">Una plataforma para los que quieren hacer su sueño de recorrer
                    el mundo, una realidad.</p>
                <p class="introduccion__texto__txt2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        
                <button class="introduccion__texto__btn">Ver video</button>

           </div>
        
        

    </section>

    <section class="anuncio" data-src="/images/bg2.jpg" data-pos-x="left" data-parallax>

        <div class="anuncio__cont">
            <h1 class="anuncio__cont__descuento">30%</h1>
            <div class="anuncio__cont__oferta">


                <h3 class="anuncio__cont__oferta__pregunta">¿Aún no sabes a dónde viajar?</h3>

                <p class="anuncio__cont__oferta__especificaciones">

                    Vehicula nam euismod commodo donec parturient odio ad in, suscipit venenatis integer vulputate
                    cubilia pulvinar tincidunt senectus gravida, nullam interdum posuere feugiat nibh aliquet eget.
                    Sollicitudin ridiculus tristique consequat platea lectus ornare magna lacus rutrum,


                </p>

                <button class="anuncio__cont__oferta__btn">Ver más</button>


            </div>
        </div>


        


    </section>

    <section class="caracteristica">

        <div class="caracteristica__uno">

            <div class="caracteristica__uno__cont">


                <h1 class="caracteristica__uno__cont__titulo">VIAJA</h1>
            </div>


            <div class="caracteristica__uno__texto">
                <h4 class="caracteristica__uno__texto__titulo">segura, fácil y genialmente</h4>

                <p class="caracteristica__uno__texto__txt">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit nostra, cras enim aliquam proin mollis
                    aptent dictumst, vivamus fringilla pulvinar orci nibh donec ligula. Fusce felis sociosqu cubilia
                    scelerisque quis arcu suspendisse, ante sapien posuere varius habitasse etiam natoque, tempor
                </p>
            </div>

        </div>


        <div class="caracteristica__dos">


            <div class="caracteristica__dos__texto">
                <h4 class="caracteristica__dos__texto__titulo">segura, fácil y genialmente</h4>

                <p class="caracteristica__dos__texto__txt">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit nostra, cras enim aliquam proin mollis
                    aptent dictumst, vivamus fringilla pulvinar orci nibh donec ligula. Fusce felis sociosqu cubilia
                    scelerisque quis arcu suspendisse, ante sapien posuere varius habitasse etiam natoque, tempor
                </p>
            </div>

            <div class="caracteristica__dos__cont">


                <h1 class="caracteristica__dos__cont__titulo">VIAJA</h1>
            </div>



        </div>

        <div class="caracteristica__tres">

            <div class="caracteristica__tres__cont">


                <h1 class="caracteristica__tres__cont__titulo">VIAJA</h1>
            </div>


            <div class="caracteristica__tres__texto">
                <h4 class="caracteristica__tres__texto__titulo">segura, fácil y genialmente</h4>

                <p class="caracteristica__tres__texto__txt">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit nostra, cras enim aliquam proin mollis
                    aptent dictumst, vivamus fringilla pulvinar orci nibh donec ligula. Fusce felis sociosqu cubilia
                    scelerisque quis arcu suspendisse, ante sapien posuere varius habitasse etiam natoque, tempor
                </p>
            </div>

        </div>




    </section>

    <section class="interaccion" data-src="../images/interbg.jpg" data-pos-x="left" data-parallax>



        <div class="interaccion__cont">


            <div class="interaccion__cont__botones">
                <h3 class="interaccion__cont__titulo">¡Crea ya tu propio plan!</h3>
                <h4 class="interaccion__cont__botones__titulo">Días:</h4>
                <h5 class="interaccion__cont__botones__titulo2" id="dias" class="interaccion__cont__botones__days">00</h5>
                <div class="interaccion__cont__botones__contslider">
                    <input id="slide" class="interaccion__cont__botones__contslider__slide" type="range" min="1" max="100"
                        value="50">
                </div>
                <h4 class="interaccion__cont__botones__titulo" >Hotel:</h4>

                <form class="interaccion__cont__botones__rating">

                    <label>
                        <input type="radio" name="stars" value="1" />
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="stars" value="2" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="stars" value="3" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="stars" value="4" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="stars" value="5" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>

                </form>
                <h4 class="interaccion__cont__botones__titulo">Destino:</h4>




                <div class="interaccion__cont__botones__destinos swiper-container swiperDestino">

                    <div class="interaccion__cont__botones__destinos-wrapper swiper-wrapper">

                        <article style="background-image: url('./images/venecia.jpg');" class="interaccion__cont__botones__destino swiper-slide">
                            <p class="interaccion__cont__botones__destino__desc">Venecia </p>
                        </article>

                        <article style="background-image: url('./images/venecia.jpg');" class="interaccion__cont__botones__destino swiper-slide">
                            <p class="interaccion__cont__botones__destino__desc">Venecia </p>
                        </article>

                        <article style="background-image: url('./images/venecia.jpg');" class="interaccion__cont__botones__destino swiper-slide">
                            <p class="interaccion__cont__botones__destino__desc">Venecia </p>
                        </article>

                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>




                <h4 class="interaccion__cont__botones__titulo">Precio: 100$- 2000$$$</h4>


                <button class="interaccion__cont__botones__btn">Ver planes generados</button>
            </div>




        </div>






    </section>



    <section class="especificaciones">
        <div class="especificaciones__uno">
            <h2 class="especificaciones__uno__titulo">Hoteles</h2>
            <h3 class="especificaciones__uno__precio">Para todos los gustos</h3>
            <p class="especificaciones__uno__txt">Fusce ut velit laoreet, tempus arcu eu, molestie tortor.</p>
            <p class="especificaciones__uno__txt">Fusce ut velit laoreet.</p>
            <p class="especificaciones__uno__txt">Tempus arcu eu, molestie tortor.</p>
            <p class="especificaciones__uno__txt">Molestie tortor.</p>

        </div>
        <div class="especificaciones__dos">
                <h2 class="especificaciones__dos__titulo">Paisajes</h2>
                <h3 class="especificaciones__dos__precio">Para visitar</h3>
                <p class="especificaciones__dos__txt">Fusce ut velit laoreet, tempus arcu eu, molestie tortor.</p>
                <p class="especificaciones__dos__txt">Fusce ut velit laoreet.</p>
                <p class="especificaciones__dos__txt">Tempus arcu eu, molestie tortor.</p>
                <p class="especificaciones__dos__txt">Molestie tortor.</p>
            
        </div>
        <div class="especificaciones__tres">
                <h2 class="especificaciones__tres__titulo">Vuelos</h2>
                <h3 class="especificaciones__tres__precio">de varias categorías</h3>
                <p class="especificaciones__tres__txt">Fusce ut velit laoreet, tempus arcu eu, molestie tortor.</p>
                <p class="especificaciones__tres__txt">Fusce ut velit laoreet.</p>
                <p class="especificaciones__tres__txt">Tempus arcu eu, molestie tortor.</p>
                <p class="especificaciones__tres__txt">Molestie tortor.</p>
        </div>
    </section>


    <section class="inscripcion" data-src="/images/bgFooter.jpg" data-pos-x="left" data-parallax>

        <div class="inscripcion__cont">
            <h4 class="inscripcion__cont__frase"><em>"La vida, o es una aventura o no es nada"</em> </h4>
            <p class="inscripcion__cont__nombre">-Hellen Keller</p>
        </div>

    </section>

    <section class="footer">

      
        <div class="footer__cont">
                <div class="footer__cont__contacto">
                        <h3 class="footer__cont__contacto__titulo">Contacto</h3>
                   <p class="footer__cont__contacto__txt">  ultrices, morbi turpis nascetur ante iaculis sodales  </p>
           
                   </div>
                   <div class="footer__cont__local">
                           <h3 class="footer__cont__local__titulo">¿Dónde encontrarnos?</h3>
                           <p class="footer__cont__local__txt">Lorem ipsum dolor sit amet consectetur adipiscing elit ultrices, morbi turpis nascetur ante iaculis sodales fringilla, faucibus vel cursus velit at phasellus placerat. Leo nullam vel ultrices aptent natoque velit, dictumst laoreet  </p>
           
                   </div>
        </div>
      
        <div class="footer__suscripcion">

                <h3 class="footer__suscripcion__titulo">Suscribete a nuestro newsletter</h3>
                <div class="footer__suscripcion__cont">
                    <input type="text" class="correo"  placeholder="Correo electrónico">
                       
                        <button class="footer__suscripcion__cont__btn">Inscribirse</button>
                </div>
                <p class="footer__suscripcion__txt">Lorem ipsum dolor sit amet consectetur   </p>

                
        </div>

        <div  class="footer__redes">
            <img class="footer__redes__svg" src="./images/twitter.svg" alt="">
            <img class="footer__redes__svg" src="./images/facebook.svg" alt="">
            <img class="footer__redes__svg" src="./images/instagram.svg" alt="">
        </div>

    </section>




    <!-- library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/libs/parallax.js"></script>

    <script src="/js/libs/swipe.js"></script>

    <script src="/js/script.js"></script>
      <script src="/js/store.js"></script>
   <script src="/js/carrito.js"></script>


</body>
</html>