<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Store</title>

    <link rel="stylesheet" href="/styles/store.css">
</head>
<body>
    <h1 class="titulo">HOLA</h1>
       <nav class="nav">
 <a href="/">Home</a>
 <a href="/store">store</a>
    </nav>

    {{#each listaProductos}}
    <div class="producto">
        <img src={{urlImg}} alt="">
        <h3>{{nombre}}</h3>
        <h5>{{precio}}</h5>

    </div>
    {{/each}}

    <a href="/store?dias=1">1</a>
    <a href="/store?dias=2">2</a>
    <a href="/store?dias=3">3</a>
    <a href="/store?dias=4">4</a>
    <a href="/store?dias=5">5</a>

</body>
</html>