
* {
  
    font-family: 'Lato';
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  body {
    
    display: flex;
    
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    border: 0;
    overflow-x: hidden;
    
  }


.navi {


    background-color: transparent;
    
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: 30px;
    margin-top: 30px;
    width: 100%;
    font-family: 'Lato';
    font-weight: 300;
    
    
    &__cont {
      width: 65%;
      display: flex;
      
      &__logo {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 60px;
        
        
      }
      
      &__options {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        
        &__item {
          padding: .5em;
          cursor: pointer;
          
          a {
            color: white;
            display: block;
            text-decoration: none;
            padding: .5em .0em;
          }
          
          a:hover {
            color: #ff9100;
          }
          
          &__activo {
            //border-bottom: 1px solid #ff9100;
           // color: #ff9100 !important;
          }
          
        }
        
      }
      
      &__search {
        margin-left: 10px;
        
        &__lupa {
          width: 12px;
          height:12px;
          margin: 0px;
          padding: 0px;

        }
        
        &__txt {
          
          background: transparent;
          border: none;
          border-bottom: 1px solid #fff;
          margin-top: 15px;
          
        }
      }
    }
    
    &__cont-derecha {
      width: 32%;
      margin-right: 100px;
      
      &__options {
        display: flex;
        justify-content: flex-end;
        
        &__item {
          
          list-style: none;
          
          button {
            
            background: transparent;
            color: #fff;
            padding: 12px 20px;
            border-radius: 14px;
            
            font-weight: 300;
            
          }
          
          &__signin {
            border: none;
            
          }
          
          &__signup {
            border: 1px solid #fff;
            cursor: pointer;
            transition: 200ms;
            text-decoration: none;
            background: #ff9100;
            border: 1px solid #ff9100;
            color: white;
          }
  
          &__signup:hover {
            background: #ff9100;
            border: 1px solid #ff9100;
            color: white;
            
            
          }
        }
        
        
      }
      
    }
  }

  .link-carrito{
    text-decoration: none;
    color: white;
  }
  .navi__cont-derecha__options__item{
display: flex;
align-items: center;

  }
.primera {
    //background: url('../images/tours.jpg');
    
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    &__banner {
      
      margin-top: 200px;
      margin-left: 10%;
      padding-bottom: 150px;
      .producto__nombre {
        padding-top: 80px;
        font-size: 70px;
        font-family: 'Open Sans Condensed';
        font-weight: 700;
        color: #fff;
        line-height: 80px;
       
        
      }
      
      &__frase {
     
        font-weight: 200;
        font-size: 23px;
        font-style: italic;
       
      
        color: #fff;
       // line-height: 80px;
        padding-bottom: 5px;
        
      }
      &__estrellas{
        margin-left: 5px;
          width: 70px;
          height: 13px;
         padding: 0px;
          margin-bottom: 10px;
          margin-top: 0px;
      

      }
      
   
    }
    
    
     
    
  }

.productoF{

  display: flex;
  width:100%;
  background-color: rgb(36, 36, 36);
  flex-wrap: nowrap;

  &__contenedor{
    
 
    width:80%;
    padding: 60px;
    
    margin-left: 30px;
  } 
  
  &__contenedor-dos{
    width:20%;
   
    display: flex;
    justify-content: flex-end;

    margin-right: 30px;
    padding: 60px;
    margin-top: 10px;
    padding-right: 90px;

    

  }

  &__precio{
    margin-top: 5%;
    font-weight: 200;
    font-size: 30px;
    color: #ff9100;
   
  
    
  }

  &__especificaciones{
    margin: 30px;
    
    width: 70%;
  }

  &__descripcion{
    margin-top: 15px;
    color: lightgray;
    font-weight: 200;
    font-size: 16px;
  }
  &__cont-item{
    border-bottom: 0.5px solid rgb(78, 78, 78);
    display: flex;
    align-items: baseline;

  }
  &__item{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10px;
    margin-bottom:8px;
  }
  &__itemD{
    margin-left: 15px;
    color: lightgray;
    font-weight: 200;
    font-size: 14px;
  }
 

  &__galeria{

    &__titulo{
      margin-top: 5%;
      font-weight: 200;
      font-size: 30px;
      color: #ff9100;
    }
    &__descripcion{
      margin-top: 15px;
      color: lightgray;
      font-weight: 200;
      font-size: 16px;
    }
    
    
  }
}
.interaccion{
  &__contslider {
          
    &__slide {
      
      -webkit-appearance: none;
      width: 80%;
      height: 15px;
      border-radius: 5px;
      background: rgb(49, 49, 49);
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
      
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #ff9100;
        cursor: pointer;
      }
      
      &::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #ff9100;
        cursor: pointer;
      }
    }
  }
  
  
  &__destinos {
    
    margin-top: 25px;
    margin-bottom: 25px;
    
    display: flex;
    
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    
    width: 100%;
    height: 250px;
    
    flex-shrink: 0;
    
    &-wrapper {
      width: 100%;
      height: 100%;
    }
    
    .swiper-button-prev,
    .swiper-button-next {
      width: 16px;
      height: 26px;
      background-size: 16px 26px;
  
  
      margin: 0;
      top: 46%;
    }
    
    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23FFFFFF'%2F%3E%3C%2Fsvg%3E");
      left: 10px;
      right: auto;
    }
    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23FFFFFF'%2F%3E%3C%2Fsvg%3E");
      right: 10px;
      left: auto;
    }
    
  }
  
  &__destino {
    
    width: 100%;
    height: 100%;
    
    min-width: 100%;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color: white;
    
    &__desc{
      margin-bottom: 20px;
      padding-left: 30px;
    }
  }
}

.comprar{
  display: flex;
  width:100%;
  background-color: rgb(36, 36, 36);
  flex-wrap: wrap;
  padding: 100px;
  padding-top: 40px;


  &__titulo{
    margin-top: 5%;
    font-weight: 200;
    font-size: 30px;
    color: #ff9100;
  }
  &__descripcion{
    margin-top: 15px;
    color: lightgray;
    font-weight: 200;
    font-size: 16px;
    margin-right: 460px;
    margin-bottom: 10px;
  }
  &__botonC{
    margin: 20px;
    background: #ff9100;
    padding: 20px 28px;
    color: #fff;
    cursor: pointer;
    font-weight: 200;
    border: none;
    
    border-radius: 5px;
    font-size: 12px;

    &__texto{
      margin-top: 10px;
    }
  }

  &__boton{
    margin: 20px;
    background: #ff9100;
    padding: 20px 28px;
    color: #fff;
    cursor: pointer;
    font-weight: 200;
    border: none;
    
    border-radius: 5px;
    font-size: 12px;

    &__texto{
      margin-top: 10px;
    }

  }
}

.inscripcion{
  display: flex;
  width:100%;
  
  flex-wrap: wrap;
  padding: 100px;
  padding-top: 40px;

  &__cont{
    margin-right: 30px;
  }


  &__titulo{
    margin-top: 5%;
    font-weight: 200;
    font-size: 30px;
    color: #ff9100;
  }
  &__descripcion{
    width: 100%;
    margin-top: 15px;
    color: lightgray;
    font-weight: 200;
    font-size: 16px;
    margin-right: 460px;
    margin-bottom: 10px;
  }
 

  &__boton{
    margin: 20px;
    background: #ff9100;
    padding: 20px 58px;
    color: #fff;
    cursor: pointer;
    font-weight: 200;
    border: none;
    
    border-radius: 5px;
    font-size: 12px;

    &__texto{
      margin-top: 10px;
    }

  }
}
  



.footer{
  
  display: flex;
  color: white;
  background:rgb(34, 34, 34);
  padding: 60px;

  align-items: flex-start;
  &__cont{
    
    display: flex;
    flex-wrap: nowrap;
    width:50%;


    &__contacto{
      width: 100%;

      padding-right: 30px;
      

      &__titulo{
        color: #ff9100;
      }
      &__txt{
        padding-top: 10px;
        font-weight: 100;
      }
    
    }
  
    &__local{
    
      padding-right: 30px;

      &__titulo{
        color: #ff9100;
      }

      &__txt{
        padding-top: 10px;
        font-weight: 100;
      }
  
    }

  }
 

  &__suscripcion{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: baseline;
    padding: 0;

    
    width:50%;

    &__titulo{
      padding-left: 30px ;
      color: #ff9100;
    }

    &__txt{
      padding-top: 10px;
      padding-left: 30px ;
    }
    &__cont{
      padding-top: 10px;
      display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: baseline;
    width:100%;

    height: 40px;

      &__correo{
        width: 70%;
          
          background: white;
          border-radius: 8px 0px 0px 8px;
          border: none;
          padding-left: 21px;
          
          height: 100%;
          margin: 0;
          color: rgb(200, 200, 200);
  
      }
  
      &__btn{
  
        height: 100%;
        //margin-top: 10px;
        background: #ff9100;
        color: white;
        padding: 12px 20px;
        border-radius: 0px 8px 8px 0px;
        cursor: pointer;
        font-weight: 300;
        border: none;
        transition: 400ms;
        margin-top: 1px;
  
      }
    }

    

 
    
  }

  &__redes{
    display: flex;
    flex-direction: column;

    &__svg{
      width: 20px;
      height: auto;
      padding: 5px;
    }
  }

}