
* {
  
    font-family: 'Lato';
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  body {
    
    display: flex;
    
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    border: 0;
    overflow-x: hidden;
    
  }

  a{
    text-decoration: none;
    color: #fff;
  }

.navi {


    background-color: transparent;
    
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: 30px;
    margin-top: 30px;
    width: 100%;
    font-family: 'Lato';
    font-weight: 300;
    
    
    &__cont {
      width: 65%;
      display: flex;
      
      &__logo {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 60px;
        
        
      }
      
      &__options {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        
        &__item {
          padding: .5em;
          cursor: pointer;
          
          a {
            color: white;
            display: block;
            text-decoration: none;
            padding: .5em .0em;
          }
          
          a:hover {
            color: #ff9100;
          }
          
          &__activo {
            //border-bottom: 1px solid #ff9100;
           // color: #ff9100 !important;
          }
          
        }
        
      }
      
      &__search {
        margin-left: 10px;
        
        &__lupa {
          width: 12px;
          height:12px;
          margin: 0px;
          padding: 0px;

        }
        
        &__txt {
          
          background: transparent;
          border: none;
          border-bottom: 1px solid #fff;
          margin-top: 15px;
          
        }
      }
    }
    
    &__cont-derecha {
      width: 32%;
      margin-right: 100px;
      
      &__options {
        display: flex;
        justify-content: flex-end;
        
        &__item {
          
          list-style: none;
          
          button {
            
            background: transparent;
            color: #fff;
            padding: 12px 20px;
            border-radius: 14px;
            
            font-weight: 300;
            
          }
          
          &__signin {
            border: none;
            
          }
          
          &__signup {
            border: 1px solid #fff;
            cursor: pointer;
            transition: 200ms;
            text-decoration: none;
            background: #ff9100;
            border: 1px solid #ff9100;
            color: white;
          }
  
          &__signup:hover {
            background: #ff9100;
            border: 1px solid #ff9100;
            color: white;
            
            
          }
        }
        
        
      }
      
    }
  }

  .link-carrito{
    text-decoration: none;
    color: white;
  }
  .navi__cont-derecha__options__item{
display: flex;
align-items: center;

  }
.primera {
    //background: url('../images/tours.jpg');
    
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    &__banner {
      
      margin-top: 200px;
      margin-left: 10%;
      padding-bottom: 150px;
      .producto__nombre {
        padding-top: 80px;
        font-size: 70px;
        font-family: 'Open Sans Condensed';
        font-weight: 700;
        color: #fff;
        line-height: 80px;
       
        
      }
      
      &__frase {
     
        font-weight: 200;
        font-size: 23px;
        font-style: italic;
       
      
        color: #fff;
       // line-height: 80px;
        padding-bottom: 5px;
        
      }
      &__estrellas{
        margin-left: 5px;
          width: 70px;
          height: 13px;
         padding: 0px;
          margin-bottom: 10px;
          margin-top: 0px;
      

      }
      
   
    }
    
    
     
    
  }



a{
    text-decoration: none;
}

.checkout{
    background-color: rgb(36, 36, 36);
    display:flex;
    padding-bottom: 5%;


    &__cont1{
        width:60%;
        padding:3%;
        padding-left: 6%;
    }

    &__titulo{
        display: inline;
        padding-bottom: 10px;
        padding-top: 10px;
        color: #ff9100;
        font-weight: 200;
    }

    &__descripcion{
        color: rgb(144, 144, 144);
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &__descripcion2{
        color: rgb(144, 144, 144);
        padding-top: 10px;
        padding-bottom: 10px;
    }
    &__descripcion3{
        color: rgb(144, 144, 144);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 30%;
    }
    &__viaje{
        margin-top: 20px;
        background: rgb(47, 47, 47);
        width: 50%;
        padding: 3%;
        color: rgb(144, 144, 144);
        &__titulo{
            margin-bottom: 5px;
            font-weight: 800;
        }
    }

    &__input{
        background-color: rgb(47, 47, 47);
        width: 45%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid rgb(47, 47, 47);
        border-radius: 4px;
        box-sizing: border-box;
        color: rgb(144, 144, 144);

    }

    

    &__factura{
        width:40%;
        padding-top: 19%;
        padding-left: 0%;
        
       
        
        
        background-color: rgb(36, 36, 36);

      &__cuadro{
        background-color: rgb(47, 47, 47);
        width:80%;
        padding: 3%;
      }  
    &__cont{
       // margin-right: 30px;
        width:100%;
      } 
    
      &__cont2{
      //  margin-right: 30px;
        width: 100%;
      }
      &__titulo{
        margin-top: 5%;
        font-weight: 200;
        font-size: 30px;
        color: #ff9100;
      }
      &__titulo2{
      
        font-weight: 200;
        font-size: 30px;
        color: #ff9100;
      }
      &__descripcion{
        width: 100%;
        margin-top: 15px;
        color: lightgray;
        font-weight: 200;
        font-size: 16px;
       // margin-right: 460px;
        margin-bottom: 10px;
      }   
      &__item{
        width: 100%;
        margin-top: 15px;
        color: lightgray;
        font-weight: 200;
        font-size: 16px;
      //  margin-right: 460px;
        margin-bottom: 10px;
      }
      &__precio{
        width: 100%;
        margin-top: 15px;
        color: lightgray;
        font-weight: 200;
        font-size: 16px;
       // margin-right: 460px;
        margin-bottom: 10px;
      }
  
      &__precioTotal{
        width: 100%;
        margin-top: 15px;
        color: #ff9100;
        font-weight: 200;
        font-size: 16px;
      //  margin-right: 460px;
        margin-bottom: 10px;
      }
      &__minicont{
        width: 90%;
        border-bottom: 0.5px solid rgb(78, 78, 78);
      }
      &__boton{
        margin-top: 30px;
        background: #ff9100;
        padding: 15px 78px;
        color: #fff;
        cursor: pointer;
        font-weight: 200;
        border: none;
        
        border-radius: 5px;
        font-size: 12px;
    
        &__texto{
          //margin-top: 10px;
        }
    }
    }
    
}






  



.footer{
  
  display: flex;
  color: white;
  background:rgb(22, 22, 22);
  padding: 60px;

  align-items: flex-start;
  &__cont{
    
    display: flex;
    flex-wrap: nowrap;
    width:50%;


    &__contacto{
      width: 100%;

      padding-right: 30px;
      

      &__titulo{
        color: #ff9100;
      }
      &__txt{
        padding-top: 10px;
        font-weight: 100;
      }
    
    }
  
    &__local{
    
      padding-right: 30px;

      &__titulo{
        color: #ff9100;
      }

      &__txt{
        padding-top: 10px;
        font-weight: 100;
      }
  
    }

  }
 

  &__suscripcion{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: baseline;
    padding: 0;

    
    width:50%;

    &__titulo{
      padding-left: 30px ;
      color: #ff9100;
    }

    &__txt{
      padding-top: 10px;
      padding-left: 30px ;
    }
    &__cont{
      padding-top: 10px;
      display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: baseline;
    width:100%;

    height: 40px;

      &__correo{
        width: 70%;
          
          background: white;
          border-radius: 8px 0px 0px 8px;
          border: none;
          padding-left: 21px;
          
          height: 100%;
          margin: 0;
          color: rgb(200, 200, 200);
  
      }
  
      &__btn{
  
        height: 100%;
        //margin-top: 10px;
        background: #ff9100;
        color: white;
        padding: 12px 20px;
        border-radius: 0px 8px 8px 0px;
        cursor: pointer;
        font-weight: 300;
        border: none;
        transition: 400ms;
        margin-top: 1px;
  
      }
    }

    

 
    
  }

  &__redes{
    display: flex;
    flex-direction: column;

    &__svg{
      width: 20px;
      height: auto;
      padding: 5px;
    }
  }

}