
* {
  
    font-family: 'Lato';
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  body {
    
    display: flex;
    
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    border: 0;
    overflow-x: hidden;
    
  }

.navi {
    background-color: transparent;
    
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: 30px;
    margin-top: 30px;
    width: 100%;
    font-family: 'Lato';
    font-weight: 300;
    
    
    &__cont {
      width: 65%;
      display: flex;
      
      &__logo {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 60px;
        
        
      }
      
      &__options {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        
        &__item {
          padding: .5em;
          cursor: pointer;
          
          a {
            color: white;
            display: block;
            text-decoration: none;
            padding: .5em .0em;
          }
          
          a:hover {
            color: #ff9100;
          }
          
          &__activo {
            border-bottom: 1px solid #ff9100;
            color: #ff9100 !important;
          }
          
        }
        
      }
      
      &__search {
        margin-left: 10px;
        
        &__lupa {
          width: 12px;
        }
        
        &__txt {
          
          background: transparent;
          border: none;
          border-bottom: 1px solid #fff;
          margin-top: 15px;
          
        }
      }
    }
    
    &__cont-derecha {
      width: 32%;
      margin-right: 100px;
      
      &__options {
        display: flex;
        justify-content: flex-end;
        
        &__item {
          
          list-style: none;
          
          button {
            
            background: transparent;
            color: #fff;
            padding: 12px 20px;
            border-radius: 14px;
            
            font-weight: 300;
            
          }
          
          &__signin {
            border: none;
            
          }
          
          &__signup {
            border: 1px solid #fff;
            cursor: pointer;
            transition: 200ms;
            
          }
  
          &__signup:hover {
            background: #ff9100;
            border: 1px solid #ff9100;
            color: white;
            
            
          }
        }
        
        
      }
      
    }
  }
  
  .primera {
     background: url('../images/tours.jpg');
    
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    &__banner {
      
      margin-top: 200px;
      margin-left: 10%;
      padding-bottom: 150px;
      &__titulo {
        padding-top: 80px;
        font-size: 70px;
        font-family: 'Open Sans Condensed';
        font-weight: 700;
        color: #fff;
        line-height: 80px;
        padding-bottom: 60px;
        
      }
      
      
      &__btn {
        
        background: #ff9100;
        padding: 10px 18px;
        color: #fff;
        cursor: pointer;
        font-weight: 400;
        border: none;
        margin-top: -10px;
        border-radius: 5px;
        font-size: 19px;
        
      }
    }
    
    
     
    
  }

.tienda{
    width: 100%;
display: flex;
flex-wrap: wrap;
flex-direction: row;
flex-shrink: 0;
}

.seccion-productos{
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(38, 114, 114);
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    justify-items: center;

}

a{
    text-decoration: none;
}

.producto{

    background-color: rgb(46, 75, 75);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;

    
    img{
        width: 220px;
        height: 220px;
        margin-bottom: 10px;
        margin-top: 0px;
    }
}

.seccion-lateral{
    background-color: green;
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;


}
